* {
    background-color: khaki;
}


h1 {
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-shadow: 2px 2px 0 orange;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: khaki; 
    padding: 1rem;
    border-radius: 10px;
  }


  h2 {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }


p {
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    line-height: 1.5;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}


img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  

.funfax {
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: skyblue;
    line-height: 1.5;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
}


.submit {
    background-color: green; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  

  .submit {
    opacity: 0.8;
  }
  
  .submit {
    background-color: green;
    box-shadow: 0 5px gray;
    transform: translateY(4px);
  }
  

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }


  label {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }